<header class="ba-header">
	<div class="row column">
		<div class="top-bar">
			<div class="top-bar-title">
				<a class="ba-logo" href="index.html">
					<img src="assets/img/logo.svg" alt="Digital Agency">
				</a>
			</div>
			<span class="float-right" data-responsive-toggle="responsive-menu" data-hide-for="medium">
				<button class="menu-icon white" type="button" data-toggle></button>
			</span>
			<div id="responsive-menu" data-toggler data-animate="fade-in fade-out">
				<div class="top-bar-right">
					<ul class="ba-main-menu menu vertical medium-horizontal">
						<li><a href="index.html">Hello</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="blog.html">Services</a></li>
						<li><a href="services.html">Portfolio</a></li>
						<li><a href="contacts.html">Team</a></li>
						<li><a href="contacts.html">Pricing</a></li>
						<li><a href="contacts.html">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="ba-header__content">
			<h1>Digital Agency</h1>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing ealit, sed diaim nonummy nibsih euismod tincidiunt laorieet doloire magna diam aliquafm erat voluitpati.</p>
			<button type="submit" class="ba-button medium-centered column secondary button">SUBMIT</button>
		</div>
	</div>
</header>
